<%- include('partials/header.ejs'); -%>
<header>
  <div class="box" id="heading">
    <h1>
      Things to do:
    </h1>
  </div>
</header>
<main>
  <div class="box">
    <!-- Enumerates the 'todo' items in the list -->
    <% for(let item of listItems) { %>
      
      <div class="item">

        <form class="del-form" action="/delete" method="post" >
          <input type="checkbox" class="item-checkbox" onchange="this.form.submit()" name="deletedId" value="<%=item.id%>">
        </form>

        <form class="edit-form" action="/edit" method="post">
          <input type="text" name="editedId" value="<%=item.id%>" hidden>
          <textarea name="editedText" maxlength="100" rows="1" onsubmit="this.form.submit()"><%=item.text%></textarea>
          <input type="submit" hidden />
        </form>
        
      </div>
  
    <% } %>
  
    <form id="add-form" class="item" action="/add" method="post">
      <input type="text" name="newItem" placeholder="New Item" maxlength="100" tabindex="1"/>
      <button class="add" type="submit" tabindex="2">+</button>
    </form>
  </div>
</main>
<%- include('partials/footer.ejs'); -%>
<script src="/js/script.js" ></script>
