<%- include('partials/header.ejs'); -%>
<header>
  <div id="title-container">
    <h1>
      Stuff to do:
    </h1>
  </div>
</header>
<main>
  <div class="item-container">
    <!-- Enumerates the 'todo' items in the list -->
    <% for(let item of listItems) { %>
      
      <div class="item">

        <div class="item-content">
          <form class="del-form" action="/delete" method="post" >
            <input type="checkbox" class="del-checkbox" name="deletedId" value="<%=item.id%>">
          </form>
  
          <form class="edit-form" action="/edit" method="post">
            <input type="text" name="editedId" value="<%=item.id%>" hidden>
            <textarea name="editedText" rows="1" maxlength="100"><%=item.text%></textarea>
            <input type="submit" hidden />
          </form>
        </div>

        <!-- <div class="item-error" hidden >TODO: handle error</div> -->
      </div>
  
    <% } %>
  
    <form id="add-form" class="item" action="/add" method="post">
      <input type="text" name="newItem" placeholder="New Item" maxlength="100" tabindex="1"/>
      <button id="add-button" type="submit" tabindex="2">+</button>
    </form>
    <!-- <div class="error">Error message again.</div> -->
  </div>
</main>
<%- include('partials/footer.ejs'); -%>
<script src="/js/script.js" ></script>
